div#main-container {
  position:relative;
  min-height: 100vh;
}

div#content-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 7rem;
}

#footer {
  background-color: var(--darkblue);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
#footer-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  color: var(--darkerblue);
}
#footer a {
  color: var(--darkerblue);
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 5rem;
}

h1.main-title {
  padding-bottom: 1rem;

  font-family: 'Pixelig Cursief', sans-serif;
  font-weight: 400;
  font-size: 6.5rem;
  color: var(--light-on-dark);

  filter: drop-shadow(.5rem .5rem 0 var(--darkblue));
  border-bottom: .5rem solid var(--darkblue);
}
h2 {
  padding-bottom: .5rem;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #111129;
}


@media screen and (max-width: 631px){
  h1.main-title {
    padding-bottom: 0.75rem;
    font-size: 5rem;
  }
}
@media screen and (max-width: 470px){
  h1.main-title {
    padding-bottom: 0.25rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}